$redes: (
    facebook:  rgb(233, 167, 25),
    instagram:  rgb(233, 167, 25),
    whatsapp:  rgb(233, 167, 25),
);

@each $redes, $color in $redes{
    .fa-#{$redes}{
        background-color: $color;
    }
} 