@media (max-width:768px) {
    .grilla {
        width: 100%;
        height: 100vh;
        display: grid;
        font-weight: bold;
        font-size: larger;
        grid-template-columns:1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "logo"
            "empanadas"
            "promociones"
            "sucursales"
            "contacto";
        gap: 3px;
    }

    .latucumanita{
        grid-area: logo;
        font-size: xx-large;
        text-decoration: none;
        color: white;
        background-image: url(../assets/images/bg-hace-tu-pedido.jpg);
        background-repeat:space;
        background-size: cover;
        background-position: center;  
    

    }
}
