* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* inicio grid */

.grilla {
    width: 100%;
    height: 100vh;
    display: grid;
    font-weight: bold;
    font-size: larger;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "logo       logo      logo         logo"
        "empanadas sucursales promociones   contacto";
    gap: 3px;
}

.latucumanita {
    grid-area: logo;
    font-size: xx-large;
    color: white;
    background-image: url(../assets/images/bg-hace-tu-pedido.jpg);
    background-repeat:space;
    background-size: cover;
    background-position: center;    
}

.empanadas {
    grid-area: empanadas;
    background-color:rgba(233, 167, 25, 0.724);
    transition: all 1s;
}
.empanadas:hover{
    transform: scale(1.1);
}

.promociones {
    grid-area: promociones;
    background-color:rgba(233, 167, 25, 0.724);
    transition: all 1s;
}
.promociones:hover{
    transform: scale(1.1);
}

.sucursales {
    grid-area: sucursales;
    background-color:rgb(233, 167, 25);
    transition: all 1s;
}
.sucursales:hover{
    transform: scale(1.1);
}

.contacto {
    grid-area: contacto;
    background-color: rgb(233, 167, 25);
    transition: all 1s;
}
.contacto:hover{
    transform: scale(1.1);
}

.grilla>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* fin grid */

a {
 color: white;
 text-decoration: none;
}
.footer{
    background-color: black;
}
.ubicacion{
    width: 200px;
    height: 200px;
}

.promocion{
    margin-top:30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    background-color:rgba(233, 167, 25, 0.724);
}
.empanadas2{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.redes {
    margin-left: 400px;
    margin-right: 50px;
}


@media (max-width:768px) {
    .grilla {
        width: 100%;
        height: 100vh;
        display: grid;
        font-weight: bold;
        font-size: larger;
        grid-template-columns:1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "logo"
            "empanadas"
            "promociones"
            "sucursales"
            "contacto";
        gap: 3px;
    }

    .promociones{
        background-color: rgb(233, 167, 25);
    }

    .sucursales{
        background-color: rgba(233, 167, 25, 0.724);;
    }
}
/* animaciones */
.scale-up-hor-center{-webkit-animation:scale-up-hor-center .4s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-hor-center .4s cubic-bezier(.39,.575,.565,1.000) both}

 @-webkit-keyframes scale-up-hor-center{0%{-webkit-transform:scaleX(.4);transform:scaleX(.4)}100%{-webkit-transform:scaleX(1);transform:scaleX(1)}}@keyframes scale-up-hor-center{0%{-webkit-transform:scaleX(.4);transform:scaleX(.4)}100%{-webkit-transform:scaleX(1);transform:scaleX(1)}}